[submodule "puppet-nodetype"]
	path = puppet/modules/nodetype
	url = git@github.com:JungleCatSoftware/puppet-nodetype.git
[submodule "puppet-webproxy"]
	path = puppet/modules/webproxy
	url = git@github.com:JungleCatSoftware/puppet-webproxy.git
[submodule "puppet-authservices"]
	path = puppet/modules/authservices
	url = git@github.com:JungleCatSoftware/puppet-authservices.git
[submodule "src/AuthServices-Web"]
	path = src/AuthServices-Web
	url = git@github.com:JungleCatSoftware/AuthServices-Web.git
[submodule "src/AuthServices-API"]
	path = src/AuthServices-API
	url = git@github.com:JungleCatSoftware/AuthServices-API.git
